#S_incio {
  background: #CD6155;
}

.Espacio_Margen {
  height: 12%;
}

.Circulo_logo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid black;
  background: #D2301E;
}

.Espacio_medio {
  height: 8%;
}

input[type=text], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 60%;
  background-color: #5DD64A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #32D419;
}

re {
  color: black;
  text-decoration-line: underline;
}

#S_registro {
  background: #730000;
}

#S_menu {
  background: #6D4C41;
}

.Espacio {
  height: 20%;
}

.Espacio_Boton {
  height: 10%;
}

.B_reserva, .B_redbuses, .B_recarga, .B_informacion {
  text-align: center;
  font-size: medium;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 85%;
  width: 90%;
  margin-left: 5%;
  background-color: #6D4C41;
  border: 2px solid white;
  font-family: Arial;
}

.B_reserva:hover {
  background-color: #5D6D7E;
  color: white;
}

.B_redbuses:hover {
  background-color: #F8C471;
  color: white;
}

.B_recarga:hover {
  background-color: #AF7AC5;
  color: white;
}

.B_informacion:hover {
  background-color: #52BE80;
  color: white;
}

#S_reservaP1 {
  background: #5D6D7E;
}

.Espacio_Nombre {
  height: 5%;
}

.B_nombrebus {
  height: 85%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-size: small;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #5D6D7E;
  border: 2px solid white;
  font-family: Arial;
}

.B_nombrebus:hover {
  background-color: white;
}

.Espacio_Bus {
  height: 15%;
  border: 2px solid white;
}

.Espacio_Bus img {
  height: 90%;
  width: 30%;
  margin-left: 35%;
}

#S_reservaP2 {
  background: #CACFD2;
}

#S_redbus {
  background: #F8C471;
}

#S_recarga {
  background: #AF7AC5;
}

#S_info {
  background: #52BE80;
}

#S_recargaFactura {
  background: #5499C7;
}

#S_reservaFactura {
  background: #48C9B0;
}

#S_notificacion {
  background: #006666;
}

.vista {
  width: 283px;
  height: 595px;
  border: 1px solid black;
}

#BarraH {
  border: 2px solid black;
  height: 9%;
}

#BarraH .C_img, #BarraH .C_nombre, #BarraH .C_saldo, #BarraH .C_notificacion {
  float: left;
  width: 23.5%;
  height: 100%;
}

#BarraH .C_nombre p {
  font-size: small;
  text-align: right;
  font-family: Arial;
}

#BarraH .C_saldo p {
  font-size: small;
  text-align: right;
  font-family: Verdana;
}

#BarraH .C_img img {
  height: 100%;
  width: 80%;
}

#BarraH .C_notificacion img {
  width: 55%;
  margin: 10%;
  margin-left: 50%;
}
