#S_incio {
  background: #CD6155;
}

.Espacio_Margen {
  height: 12%;
}

.Circulo_logo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid black;
  background: #D2301E;
}

.Espacio_medio {
  height: 8%;
}

input[type=text], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 60%;
  background-color: #5DD64A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #32D419;
}

re {
  color: black;
  text-decoration-line: underline;
}

#S_registro {
  background: #730000;
}

.Espacio_Margen {
  height: 12%;
}

.Espacio_logo {
  height: 5%;
}

.Espacio_medio_registro {
  height: 30%;
}

input[type=date], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

fe {
  color: white;
}

#S_menu {
  background: #6D4C41;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}

#S_reservaP1 {
  background: #5D6D7E;
}

.Espacio_Nombre {
  height: 5%;
}

.B_nombrebus {
  height: 85%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-size: small;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #5D6D7E;
  border: 2px solid white;
  font-family: Arial;
}

.B_nombrebus:hover {
  background-color: white;
}

.Espacio_Bus {
  height: 15%;
  border: 2px solid white;
}

.Espacio_Bus img {
  height: 90%;
  width: 30%;
  margin-left: 35%;
}

#S_reservaP2 {
  background: #CACFD2;
  overflow-y: scroll;
}

.Espacio_MapaSilla {
  height: 30%;
  width: 90%;
  margin-left: 4.5%;
  border: 2px solid white;
}

.Espacio_MapaSilla img {
  display: block;
  margin: auto;
  margin-top: 5%;
}

.Espacio_MapaSilla #Sesion {
  height: 100%;
  width: 31%;
  float: left;
  margin-left: 2%;
}

#S_redbus {
  background: #F8C471;
  overflow-y: scroll;
}

.Espacio_Paradas {
  height: 30%;
  width: 90%;
  margin-left: 4.5%;
  border: 2px solid white;
}

.Espacio_Paradas table {
  width: 100%;
  height: 100%;
}

.Espacio_Paradas table th {
  background-color: black;
  color: white;
}

.Espacio_Paradas table td {
  background-color: white;
  color: black;
  text-align: right;
}

#S_recarga {
  background: #AF7AC5;
}

#S_info {
  background: #52BE80;
}

.Espacio_infor {
  width: 90%;
  height: 8%;
  margin-left: 4%;
}

.Espacio_caja_pre {
  height: 17%;
  border: 2px solid black;
  margin-left: 4%;
  margin-right: 4%;
  font-size: x-small;
  word-wrap: break-word;
}

#S_recargaFactura {
  background: #5499C7;
}

#S_reservaFactura {
  background: #48C9B0;
}

#S_notificacion {
  background: #006666;
}

.Espacio_reservas {
  width: 90%;
  height: 8%;
  margin-left: 4%;
}

.Espacio_entre_reservas {
  width: 90%;
  height: 4%;
  margin-left: 4%;
}

.Espacio_Noti {
  width: 150px;
  height: 20px;
  border: 1.5px solid black;
  margin-left: 5%;
}

.circulog {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  margin-left: 70%;
  border: 1px solid black;
}

.circulor {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #D72B1D;
  margin-left: 70%;
  border: 1px solid black;
}

.Espacio_Seccion {
  width: 90%;
  height: 8%;
  margin-left: 4%;
}

#Espacio_SDivisio1, #Espacio_SDivisio2 {
  height: 100%;
  width: 45%;
  float: left;
  margin-left: 2.5%;
}

.vista {
  width: 283px;
  height: 595px;
  border: 1px solid black;
}

#BarraH {
  border: 2px solid black;
  height: 9%;
}

#BarraH .C_img, #BarraH .C_nombre, #BarraH .C_saldo, #BarraH .C_notificacion {
  float: left;
  width: 23.5%;
  height: 100%;
}

#BarraH .C_nombre p {
  font-size: small;
  text-align: right;
  font-family: Arial;
}

#BarraH .C_saldo p {
  font-size: small;
  text-align: right;
  font-family: Verdana;
}

#BarraH .C_img img {
  height: 100%;
  width: 80%;
}

#BarraH .C_notificacion img {
  width: 55%;
  margin: 10%;
  margin-left: 50%;
}
