$color:#48C9B0;

#S_reservaFactura{
    background: $color;
}

#Espacio_SDivisio1, #Espacio_SDivisio2{
    height: 100%;
    width: 45%;
    float: left;
    margin-left: 2.5%;
}

#Espacio_SDivisio1 input, #Espacio_SDivisio2 input{
    width: 80%;
    margin-left: 8%;
}