$color:#52BE80;

#S_info{
    background: $color;
}

.Espacio_infor{
  width: 90%;
  height: 8%;
  margin-left: 4%;
}

.Espacio_caja_pre {
  height: 17%;
  border: 2px solid black;
  margin-left: 4%;
  margin-right: 4%;
  font-size: x-small;
  word-wrap: break-word;
}