$color:#CD6155;

/* Color de la seccion de inicio */
#S_inicio{
  background: $color;
}

/* Diseño del input tipo texto */
input[type=text], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Diseño del input tipo password */
input[type=password], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
