$color:#006666;

#S_notificacion{
    background: $color;
}

.Espacio_reservas{
  width: 90%;
  height: 8%;
  margin-left: 4%;
}

.Espacio_entre_reservas{
  width: 90%;
  height: 4%;
  margin-left: 4%;

}

.Espacio_Noti{
  width: 150px; 
  height: 20px; 
  border: 1.5px solid black;
  margin-left: 5%;
}

.circulog{
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  margin-left: 70%;
  border: 1px solid black;
}

.circulor{
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #D72B1D;
  margin-left: 70%;
  border: 1px solid black;
}

.Espacio_Seccion {
  width: 90%;
  height: 8%;
  margin-left: 4%;
}

#Espacio_SDivisio1, #Espacio_SDivisio2 {
  height: 100%;
  width: 45%;
  float: left;
  margin-left: 2.5%;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}