$color:#730000;

#S_registro{
  background: $color;
}

.Espacio_Margen{
  height: 12%;
}

.Espacio_logo{
  height: 5%;
}

.Espacio_medio_registro{
    height: 30%;
}

input[type=date], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

fe{
  color: white;
}