$color:#730000;

#S_registro{
  background: $color;
}

input[type=date], select {
  width: 85%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

