$color:#CACFD2;

#S_reservaP2{
    background: $color;
    overflow-y: scroll;
}

.Espacio_MapaSilla{
    height: 30%;
    width: 90%;
    margin-left: 4.5%;
    border: 2px solid white;
}

.Espacio_MapaSilla img{
    display:block;
    margin:auto;
    margin-top: 5%;
}

.Espacio_MapaSilla #Sesion{
    height: 100%;
    width: 31%;
    float: left;
    margin-left: 2%;
}